node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack


# env files (can opt-in for committing if needed)
.env*
!.env.forTestRestart


# snaperro
.snaperro/files/*
!.snaperro/files/.gitkeep
.snaperro/state.json
